
body{
    background: #D6D242;
    height:100%;
}

html{
    height:100%;
}

#parkDetailRow {
    background-image: linear-gradient( #D6D242, rgb(16, 106, 82)) ;
}

.card {
    background-image: linear-gradient(to top right, rgb(56, 77, 168), #359f45) ;
}

.navbar {
    background-image: linear-gradient(to left, rgb(255, 255, 255), #D6D242);
}

ul {
    color: white;
}
